{% extends 'base.html' %}
{% block contenido %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>

<style>
  .card {
    margin-top: 50px;
  }
</style>

<div class="card">
  <div class="card-header d-flex justify-content-end gap-2">
    <a href="/editar-tarea/{{tarea.id}}" class="btn btn-outline-primary">Editar<i class="bi bi-pencil"></i></a>
    <a href="/perfil/" class="btn btn-outline-primary">Retornar<i class="bi bi-arrow-return-left"></i></a>
  </div>
  <div class="card-body">
    <h5 class="card-title">Edición Tarea Pendiente</h5>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Guardar Cambio</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}



