{% extends 'base.html' %}
{% block contenido %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>

<style>
  .card {
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    padding: 10px 20px;
  }

  h2 {
    font-size: 24px;
    margin: 20px 0;
  }

  .table {
    border-radius: 8px;
    overflow: hidden;
  }

  .table th {
    font-weight: 600;
    background-color: #f8f9fa;
    border-top: none;
  }

  .table td {
    border-top: none;
  }
</style>

<div class="container">
  <div class="card">
    <div class="card-header">
      <a href="/editar-tarea/{{ tarea.id }}" class="btn btn-primary">Editar</a>
      <a href="/perfil/" class="btn btn-secondary">Retornar</a>
    </div>
    <div class="card-body">
      <h2>Detalles de la tarea</h2>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Título</th>
            <td>{{ tarea.titulo }}</td>
          </tr>
          <tr>
            <th scope="row">Contenido</th>
            <td>{{ tarea.contenido }}</td>
          </tr>
          <tr>
            <th scope="row">Fecha de Publicación</th>
            <td>{{ tarea.fecha_publicacion }}</td>
          </tr>
          <tr>
            <th scope="row">Fecha de Vencimiento</th>
            <td>{{ tarea.fecha_vencimiento }}</td>
          </tr>
          <tr>
            <th scope="row">Estado</th>
            <td>{{ tarea.estado }}</td>
          </tr>
          <tr>
            <th scope="row">Categoría</th>
            <td>{{ tarea.categorias }}</td>
          </tr>
          <tr>
            <th scope="row">Observaciones</th>
            <td>{{ tarea.observaciones }}</td>
          </tr>
        </tbody>
      </table>
    </div>  
  </div>
</div>

{% endblock %}










<!--           
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="autor">Autor:</label>
                <select class="form-control" id="autor">
                  <option value="autor1">Autor 1</option>
                  <option value="autor2">Autor 2</option>
                  <option value="autor3">Autor 3</option>
                </select>
              </div>
            </div> -->