{% extends 'base.html' %} {% block contenido %} {% load static%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>

<style>
  .card {
    justify-content: center;
    margin-top: 50px;
  }

  .card {
    flex-direction: column;
    justify-content: center;
  }

  .card-header {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
</style>

<div class="card">
    <div class="card-header">
        <button type="button" class="btn btn-outline-primary">Editar<i class="bi bi-pencil"></i></button>
        <button type="button" class="btn btn-outline-primary">Eliminar<i class="bi bi-trash"></i></button>
        <button type="button" class="btn btn-outline-primary">Completar<i class="bi bi-check2"></i></button>
        <button type="button" class="btn btn-outline-primary"><a href="/perfil/">Retornar</a><i class="bi bi-arrow-return-left"></i></button>
      </div>
      
  <div class="card-body">
    <h5 class="card-title">Nueva Tarea Pendiente</h5>
    <form>
      <div class="form-group">
        <label for="titulo">Título:</label>
        <input type="text" class="form-control" id="titulo" placeholder="Ingrese el título de la tarea">
      </div>
      <div class="form-group">
        <label for="descripcion">Contenido:</label>
        <textarea class="form-control" id="descripcion" rows="3" placeholder="Ingrese una descripción de la tarea"></textarea>
      </div>
      
      <fieldset>
        <legend>Fecha</legend>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="fechaPublicacion">Fecha de Publicación:</label>
              <input type="date" class="form-control" id="fechaPublicacion">
            </div>
          </div>
          
          <div class="col">
            <div class="form-group">
              <label for="fechaVencimiento">Fecha de Vencimiento:</label>
              <input type="date" class="form-control" id="fechaVencimiento">
            </div>
          </div>
        </div>
      </fieldset>
      
      <fieldset>
        <legend>Detalles</legend>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="estado">Estado:</label>
              <select class="form-control" id="estado">
                <option value="estado1">Estado 1</option>
                <option value="estado2">Estado 2</option>
                <option value="estado3">Estado 3</option>
              </select>
            </div>
          </div>
          
          <div class="col">
            <div class="form-group">
              <label for="categoria">Categoría:</label>
              <select class="form-control" id="categoria">
                <option value="categoria1">Categoría 1</option>
                <option value="categoria2">Categoría 2</option>
                <option value="categoria3">Categoría 3</option>
              </select>
            </div>
          </div>
        </div>
      </fieldset>
      
      <div class="form-group mt-3"> <!-- Agrega la clase "mt-3" para un margen superior de 3 -->
        <button type="submit" class="btn btn-primary">Guardar Tarea</button>
      </div>
    </form>
  </div>
</div>

{% endblock %}






<!--           
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="autor">Autor:</label>
                <select class="form-control" id="autor">
                  <option value="autor1">Autor 1</option>
                  <option value="autor2">Autor 2</option>
                  <option value="autor3">Autor 3</option>
                </select>
              </div>
            </div> -->